<main>
  <h1 class="title">Welcome to {{ title }}</h1>
  <div>
    <h2>Latest:</h2>
    @if(isLoading()) {
    <p>Loading...</p>
    } @else {
    <app-card [launchData]="latestLaunch()"></app-card>
    }
  </div>
  <div>
    <div class="controls">
      <h2>Past: {{ pastLaunches().length }}</h2>
      <p>{{ counter() + 1 }} / {{ pastLaunches().length }}</p>
      <div class="button-group">
        <button (click)="decrementCounter()">&lt;</button>
        <button (click)="incrementCounter()">&gt;</button>
      </div>
    </div>
    @if(isLoading()) {
    <p>Loading...</p>
    } @else {
    <app-card [launchData]="pastLaunches()[counter()]"></app-card>
    }
  </div>
</main>
